* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(223, 204, 170);
    /* background-image: url("/img/1-earth.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover; */
}

.formDiv {
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px 0;
    margin: 20px 0;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    min-width: 300px;
    border: none;
    background: none;
    border-bottom: 2px solid #777;
    transition: min-width 0.3s ease;
}

input[type="text"]:focus {
    border-bottom: 2px solid #fff;
    min-width: 350px;
}

input[type="submit"] {
    width: 100px;
    font-weight: bold;
    background: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

input[type="submit"]:hover {
    opacity: 1;
}